@import url("home-banner.css");

* {
  margin: 0;
}

.btn {
  height: 50px;
  width: 200px;
  font: 1rem "inter", sans-serif;
  border: none;
  background-color: #ccd3db;
  border-radius: 50px;
  font-weight: 600;
}

